<nav>
  <div class="hamburger">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <ul class="navbar">
    <li><a href="/#hero">Home</a></li>
    <li><a href="/#text-section">About</a></li>
    <li><a href="/#form">Register</a></li>
  </ul>
</nav>
