<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/navbar.ejs") %>

    <section class="hero hero-success" id="hero">
      <h1 class="hero-title">You are Registered!</h1>
      <h2 class="hero-subtitle">See you in the Webinar</h2>
      <p class="hero-date">08.08.2023</p>
      <a href="/#hero" class="hero-button">Back To Home</a>
    </section>

    <%- include("./partials/footer.ejs") %>
    <script src="/js/navbar.js"></script>
  </body>
</html>
